<header role='banner'>
  <input type='url' placeholder='image url' ng-model='imageUrl'>
  <input type='text' placeholder='first line' ng-model='firstLine'>
  <input type='text' placeholder='second line' ng-model='secondLine'>
</header>

<div id='meme-area' ng-include='"partials/meme-area.html"' ng-style='memeAreaHeight()'>
</div>

<form id='actions'>
  <div class='share-trigger'>
    <button ng-click='createLink()' ng-disabled='!imageUrl'>Share this meme!</button>
  </div>
  <div class='share-field'>
    <input type='text' ng-model='lincoln' ng-show='lincoln' ng-click='autoSelect($event)'>
  </div>
</form>
