<!doctype html>
<html data-ng-app='ngMeme'>
<head>
<title>Meme in text &#183; mcdlr</title>

<meta charset='utf-8'>
<meta name='description' content='Non-destructive, on the fly Meme/Advice Animal generator'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='author' content='DrummerHead'>
<!-- Source Code: https://github.com/DrummerHead/meme -->

<link rel='stylesheet' href='/meme/css/stijl.css'>
<link rel='image_src' href='http://mcdlr.com/img/thumbs/meme.jpg'>

</head>
<body data-ng-controller='mainController'>

<main role='main' data-ng-view>
</main>

<div id='moribus'>
  <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js'></script>
  <script>
    window.angular || document.write("<script src='/meme/js/vendor/angular.min.js'><\/script>");
  </script>
  <script src='/meme/js/gedrag.js'></script>

  <script type='text/ng-template' id='partials/root.html'>
    <header role='banner'>
      <input type='url' placeholder='image url' data-ng-model='imageUrl'>
      <input type='text' placeholder='first line' data-ng-model='firstLine'>
      <input type='text' placeholder='second line' data-ng-model='secondLine'>
    </header>

    <div id='meme-area' data-ng-include='"partials/meme-area.html"' data-ng-style='memeAreaHeight()'>
    </div>

    <form id='actions'>
      <div class='share-trigger'>
        <button data-ng-click='createLink()' data-ng-disabled='!imageUrl'>Share this meme!</button>
      </div>
      <div class='share-field'>
        <input type='text' data-ng-model='lincoln' data-ng-show='lincoln' data-ng-click='autoSelect($event)'>
      </div>
    </form>
  </script>

  <script type='text/ng-template' id='partials/image.html'>
    <div id='meme-area' data-ng-include='"partials/meme-area.html"' data-ng-style='memeAreaHeight()'>
    </div>

    <form id='actions'>
      <a href='/meme/#/' class='button'>Remix!</a>
      <a href='/meme/' class='button'>Create your own!</a>
    </form>
  </script>

  <script type='text/ng-template' id='partials/meme-area.html'>
    <div id='meme-frame' data-ng-style='frameStyle()'>
      <img id='meme' data-ng-src='{{imageUrl}}' cradle alt='{{firstLine}} {{secondLine}}'>
      <p id='first-line'>
        {{firstLine}}
      </p>
      <p id='second-line'>
        {{secondLine}}
      </p>
    </div>
  </script>

  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-1030009-5');ga('send','pageview');
  </script>
</div>

</body>
</html>
