<header role='banner'>
  <input type='url' placeholder='image url' ng-model='imageUrl'>
  <input type='text' placeholder='first line' ng-model='firstLine'>
  <input type='text' placeholder='second line' ng-model='secondLine'>
</header>

<div id='meme-area'>
  <div id='meme-frame'>
    <img ng-src='{{imageUrl}}' alt='{{firstLine}} {{secondLine}}'>
    <p id='first-line'>
      {{firstLine}}
    </p>
    <p id='second-line'>
      {{secondLine}}
    </p>
  </div>
</div>

<form id='share'>
  <button ng-click='createLink()'>Share this meme!</button>
  <input type='text' ng-model='lincoln' ng-show='lincoln'>
</form>
